@import "./base.css";

#app {

  margin: 0 auto;
  padding: 2px;
  font-weight: normal;
  padding-top: 1.5rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}



.contenedor-cards {
  display: flex;
  flex-wrap: wrap; /* Para que las tarjetas se envuelvan en varias filas */
  flex-direction: row;
}

.cardpqrs {
  flex-grow: 1;
  flex-basis: 100%; /* Ajusta el ancho inicial */
  margin: 10px; /* Espacio entre tarjetas */
  min-height: 10rem;
  max-height: 15rem; /* Ajusta la altura máxima */
  font-size: .9rem;
  padding: 2px !important;

}
.card-body{
  padding: 2px !important;
}
hr{
  margin: 0.2rem;
}
.contenedor-centrado {
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos hijos (opcional, si el contenedor tiene altura) */
}
.linea-vertical {
  width: 2px;
  height: 100px;
  background-color: #030303;
}
/* Bootstrap >=5 ya trae border-end-md, pero personalizamos color/grosor */
.border-end-md {
  @media (min-width: 768px) {
    border-right: 2px solid #0d6efd !important; /* azul institucional, cámbialo si deseas */
  }
}
